<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kth.g2.planner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MatchBox"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PlannerProjectTest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name =".TodoListView"></activity>
        <activity android:name=".EditItem" />
        <activity android:name=".AddItem" />
        <activity android:name=".SpecifyIntervalView" />
        <activity android:name=".CalendarView" />
    </application>

</manifest>